#about{
  height: auto;
  padding: 1%;
  padding-top: 5%;
}
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 9%;
    overflow: hidden;
    padding-top: 2%;

}
.about-gauche img{
    width: 500px;
    height: 400px;
}
.about-droite{
    margin-left: 4%;
    color: rgb(14, 13, 13);
    text-align: left;
    font-size: 18px;
    justify-content: left;

}
.about-droite h1{font-size: 60px;}
.langage-list{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.langage-list li{
    list-style: none;
    padding: 0.5%;
    margin-left: 2%;
    margin-bottom: 2%;
    border:  1px solid var(--vert1);
    border-radius: 8px;
}
.custom-btn {
  color: #fff;
  border-radius: 5px;

  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.custom-btn img{
  width: 10px;
  height: 10px;
  
}
.btn-cv{
  border: none;
  transition: all 0.3s ease;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: bold;
  background: rgb(251, 175, 33);
  background: linear-gradient(0deg, rgb(251, 149, 33) 0%, rgb(231, 128, 10)100%);
  color: #fff;
  overflow: hidden;
  font-weight: bolder;
 
}
.btn-cv:hover {
  text-decoration: none;
  color: #fff;
}
.btn-cv:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-cv:hover{
opacity: .7;
}
.btn-cv:active{
box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


.btn-cv img{
    width: 30px;
    height: 30px;
}

.info-plus{
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 80%;
  margin-left: 9%;
  overflow: hidden;
  color: rgb(41, 40, 40);
}
.info-plus h1{
  text-align: center;
  align-items: center;
  padding: 2%;
  font-weight: bold;
  font-size: 30px;
}
.cart h3{
  font-size: 16px;
  text-align: center;

}

.info-plus .cart-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-plus .cart-info .cart{
  width: 250px;
  height: 200px;
  border-radius: 8px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2%;
  text-align: center;
  transition: ease all 0.5s;
  
}
.cart p{
  text-align: left;
}
.cart-info .cart img{
  width: 50px;
  height: 50px;
  
}
.cart-info-description{
text-align: center;
}

.cart-info .cart:hover{
  padding-left:2%;
    padding-right: 2%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   transform: scale(1.2);

}


.profil2{
  display:none;
}
.svg-top{
  margin-top: 50%;
  margin-bottom: 50%;
}


@media screen and (max-Width:428px) {
  #about{
    padding-top: 30%;
    margin-left: -4%;
  }
  .about-droite h1{
    font-size: 30px;
  }
  .about-container{
    padding-top: 3%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
  }
  .about-gauche img{
    width: 250px;
    height: 250px;
  }  
  .about-droite{
    text-align:center;
    padding: 1%;
    
  }
  .about-droite p{
    text-align: left;
    width: 100%;
  }
  .svg-top{
    display: none;
  }
  .btn-cv{
    margin-left: 2%;
    padding: 3%;
    background: var(--vert1);
    background: linear-gradient(0deg,  #f59505 0%, #f59505 100%);
    color: #fff;
    overflow: hidden;
   
  }
  .btn-cv:hover {
    text-decoration: none;
    color: #fff;
}
.btn-cv:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-cv:hover{
  opacity: .7;
}
.btn-cv:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


  .profil2{
    display: flex;
  }
  .cart-info {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;


  }
  .cart-info .cart{
   margin-top: 8%;
    max-width:100%;
    height: auto;
    padding: 3%;
    margin-left: 8%;
  }
 
  .info-plus{
    padding-top: 14%;
  }
}


@media screen and (max-width: 900px) {


  .info-plus .cart-info .cart{
  height: auto;
  padding: 2%;
   
 }
}