
footer{
    background: #000f11;
    width: 98%;
    height: auto;
    padding: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    border-top-right-radius:2px;
    border-top-left-radius: 2px;
    
    
  }
  .reseaux{
    display: flex;
    flex-direction: Row;
    text-align: center;
    align-items: center;
    justify-content: center;
   
  }
  .reseaux img{
    width: 40px;
    height: 40px;
  }
  footer p{
    font-size: 16px ;
    margin-top: 1%;
  }
  