
.home-container{
    padding-top: 8%;
    
    
}

.me{
    width: 20%;
    padding: 2%;
    background:var(--vert1);
    background: linear-gradient(to top left, #0033cc 32%, #00cc66 100%);
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: -10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: -100px;
    
}
.name{
    color: white;
    font-weight: bold;
}
.pro::before{
    font-weight: bolder;
    color: rgb(209, 205, 205);
    content:'';
    animation:animate infinite 16s;
   
    }
    @keyframes animate {
        0%{
            content:'Freelancer';
        }
    
        20%{
            transition: ease-in-out all 2s;
            transform: scale(1.1);
            content:'Developpeur ';
        }
        40%{
            transition: ease-in-out all 2s;
            transform: scale(1.1);
            content:'Community manager';
        }
    
        60%{
            transition: ease-in-out all 2s;
            transform: scale(1.1);
            content:'youtubeur';
        }
    
        80%{
           
            content:'blogeur';
        }
    
        100%{
           
            content:'Assistant virtuel';
        }
        from {
            opacity: 50%;
        }
        to{
            opacity: 100%;
        }
}
.part-home{
  
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 9%;
}
.part-home .gauche{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.fil-container{
    width: 500px;
    height: 550px;
    border-radius: 50%;
    border: 1px solid #1E1E1E;
    background: transparent;
    overflow: hidden;
    object-fit: cover;
    margin-top: -10%;
    box-shadow: rgba(241, 241, 245, 0.25) 0px 50px 100px -20px, rgba(250, 247, 247, 0.3) 0px 30px 60px -30px, rgba(244, 245, 247, 0.35) 0px -2px 6px 0px inset;
}
.tel .space{
    color: rgb(187, 183, 183);
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
    text-align: center;
}
.space img{
    width: 20px;
    height: 20px;
}
.droite{
    margin-right: 3%;
}
.fil-container img{
    width: 98%;
    height: 100%;
    margin-top: -10%;
}
.network{
    display: flex;
    flex-direction: row;
    padding: 0.5%;
    list-style: none;
}
.network li{
    margin-left: 3%;
}
.network img{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 428px) {
    .me{
        padding: 4%;
    }
    .home-container{
        padding-top: 30%;
        height: 80vh;

    }
    .part-home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .fil-container{
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }
    .part-home .droite{
        display: none;
    }
}
