:root{
  --fond1:rgb(246, 250, 255);
  --fond2:#b4b4b0;
  --fond3:rgb(211, 219, 230);
  --color1:rgb(17, 17, 17);
  --back1:#363638; 
  --theme:orange;
  --vert1:#f59505;
  font-family: 'Corbel','consolas';
}
*{

  
}
.app{
  background: rgb(252, 251, 253);
}
body::-webkit-scrollbar{
  width: 15px;
  

}
body::-webkit-scrollbar-track{
background-color:transparent;
}
body::-webkit-scrollbar-thumb{
  background:var(--vert1);
  border-radius: 12%;
} 



@media screen and (max-width: 428px) {

 h1{
  font-size: 40px;
 }   
}

.loader {
  text-align: center;
  justify-content: center;
  font-size: 50px ;
  font-weight: bold;
  color: white;
  position: fixed;
  overflow: hidden;

}
.loader h1{
  animation: animate infinite 5s;
}
@keyframes animate {
   
  from{
    opacity: 10%;
  }
  to{
    opacity: 100%;
  }

}

