:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --bg-black-70:#fbf9fc;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

}

 .dark{

    --bg-black-900:#151515;
    --bg-black-100:#2222;
    --bg-black-50:#393939;
    --text-black-900:#ffff;
    --text-black-700:#e9e9e9;
    --bg-black-70:#0d0318;

 }
.Exp{
    width: 80%;
    margin-left: 9%;
    overflow: hidden;
    padding-top: 6%;

}

 .padd-15{
    padding-left:15px ;
    padding: 15px;
}


 .education, 
 .experience
{
    flex:  0 0 50%;
    min-width: 50%;
    margin-top: 30px;
    color: var(--text-black-900);
    margin-left: 4%;

}
.experience{
    margin-left: -4%;
}
.about-content h3 .section-title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;

    color: var(--text-black-900);

}

 .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
   

}
 .timeline
{
   background: var(--bg-black-100); 
   padding: 30px 15px;
   border: 1px solid var(--bg-black-50);
   border-radius: 12px;
   width: 80%;
   position: relative;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.timeline .timeline-item
{
    position: relative;
    padding-left:37px; 
    padding-bottom: 50px;
    color: var(--text-black-900);

}
.timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
.timeline .timeline-item::before
{
    content: '';
    width:1px ;
    height: 100%;
    position: absolute;
    left: 7px;
    top: 0;
    background: var(--vert1);
}
.timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--vert1);
}
.timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.timeline .timeline-date .fa 
{
    margin-right: 5px;
}

.timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform:capitalize ;
    color: var(--text-black-900);
}
.timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
/*   stylisation de la zone de service */
.service  .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex:0 0 33.33%;
    max-width: 33.33%;
}
.service-item .service-item-inner
{
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;

}
.service-item .service-item-inner:hover
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .icon{
    height: 60px;
    width: 60px;
  border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--vert1);
    transition: all 0.3s ease;
}
 .icon 
{
    background: var(--vert1);
}
 .icon .fa{
    font-size: 25px;
    color: #ffff;
}
  h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900) ;
    font-weight: 700;
    text-transform: capitalize;
}
 p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}


.row{
    display: flex;
    margin-left:-15px;
    margin-left: -15px;
    border-radius: 40px;
    color:var(--text-black-900);
    position: relative;
    justify-content: space-between;
    flex-direction: row;
  
   

}
@media(max-width:428px)
{  
    .Exp{
    }
    .row{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .timeline
    {
      
       width: 98%;

     
       
    }
    #experience{
        margin-left: 4%;
    }
    #experience-title{
        margin-left: 5%;
    }
    

    
}
@media(max-width:900px)
{
    .experience{
        margin-left: -8%;
    }
}